[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "ImGuiColorTextEdit"]
	path = ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
	branch = dev
[submodule "lua-5.1.4"]
	path = lua-5.1.4
	url = https://github.com/rwen2012/lua-5.1.4/
